body{
	margin: 0;
	padding: 0;
	background-color: #6495ED;
}
h1{
	font-family: 'Aria';
	text-align: center;
	color: #E9967A;
}
.container{
	display: flex;
	flex-direction: row;
	font-family: 'Helvetica';
}
.item{
	border: solid 2px #000;
	height: 50vh;
	width: 33%;
	text-align: center;
}
#item1{
	background-color: #CD5C5C;
}
#item2{
	background-color: #3CB371;
}
#item3{
	background-color: #48D1CC;
}

@media (max-width: 750px){ 
	
	.container{
		flex-direction: column;
	}
	
	#item1{
		background-color: blue;
	}
	#item2{
		background-color: red;
	}
	#item3{
		background-color: yellow;
	} 
	.item{
		width: 100%;
	}
	
}

@media (min-width: 750px) and (max-width: 1000px) {
	
	#item1{
		background-color: green;
	}
	#item2{
		background-color: gray;
	}
	#item3{
		background-color: pink;
	} 
	
} 
