body{
	margin: 0;
	padding: 0;
	background-color: #228B22;
}
.container{
	display: flex;
	flex-direction: row;
	font-family: 'Helvetica';
	margin-top: 200px;
}
.item{
	border: solid 2px #000;
	height: 50vh;
	width: 28%;
	text-align: center;
}
#item1{
	background-color: black;
	border-color: white;
	margin-right: 20px;
	border-radius: 35px;
	padding-right: 100px;
}
#item2{
	background-color: black;
	border-color: white;
	margin-right: 20px;
	border-radius: 35px;
	padding-right: 100px;
}
#item3{
	background-color: black;
	border-color: white;
	margin-right: 20px;
	border-radius: 35px;
	padding-right: 100px;
}
#item4{
	background-color: black;
	border-color: white;
	border-radius: 35px;
	padding-right: 100px;
}
.frase1{
	color: white;
}
.frase2{
	color: white;
}
.frase3{
	color: white;
}
.frase4{
	color: white;
}
.imagem1{
	
}
.imagem2{
	height: 400px;
	width: 400px;
}
.imagem3{
	height: 400px;
	width: 400px;
}
.imagem4{
	height: 400px;
	width: 400px;
}
@media (max-width: 999px){
	
	.container{
		flex-direction: column;
	}
	.item{
		width: 100%;
		display: flex;
	}
	#item1{
		text-align: left;
		font-size: 20px;
	}
	#item2{
		text-align: left;
		font-size: 20px;
	}
	#item3{
		text-align: left;
		font-size: 20px;
	}
	#item4{
		text-align: left;
		font-size: 20px;
	}
	.imagem1{
		width: 200px;
		height: 240px;
	}
	.imagem2{
		width: 200px;
		height: 240px;
	}
	.imagem3{
		width: 200px;
		height: 240px;
	}
	.imagem4{
		width: 200px;
		height: 240px;
	}
}