body{
	margin: 0;
	padding: 0;
	background-color: #C0C0C0;
}
section.cima{
	display: flex;
	float: right;
	margin-right: 4vw;
	font-size: 30px;
}
section.cima p{
	margin-right: 27px;
	border: solid 3px #90EE90;
	color: white;
}
section.cima2{
	text-align: center;
	background-color: #006400;
	min-height: 10vh;
}

