body{
	margin: 0;
	padding: 0;
	background-image:url("../img/circuito.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
section.cima div.opc{
	display: flex;
	float: right;
	margin-right: 30px;
	margin-top: -3px;
}
section.cima div.opc p:hover{
	background-color:#006400;
	color: white;
}
#ini{
	background-color:#006400;
	color: white;
}
section.cima div.opc p{
	font-size: 30px;
	margin-left: 17px;
	margin-top:46px;
	border: solid 3px #90EE90;
}
section.cima div.listra{
	min-height: 10vh;
	background-color: green;
	padding-top: 10px;
	text-align: center
}
section.cima div.titulo{
	margin-top: 3.9vh;
	margin-left: 25vw;
}
section.cima div.titulo h1{
	font-size: 30px;
	color: #ADFF2F;
}
section.cima div.logo{
	float: left;
}
section.cima div.logo img{
	margin-bottom: 10px;
	max-height: 93px;
	margin-left: 20px;
}
section.info{
	display: flex;
}
section.info div.listra2{
	background-color: #F0E68C;
	max-width: 20vw;
	min-height: 90vh;
	padding-top: 15px;
	border: solid 6px #6B8E23;
	border-radius: 10px;
	font-family: 'Arial';
	margin-left:-6vw;
}
section.info div.detalhes{
	text-align: center;
}
section.info div.detalhes h1{
	margin-top: 2vh;
}
section.info div.detalhes div.conta{
	display: flex;
}
section.info div.detalhes div.conta h2{
	background-color: blue;
	border: solid 7px black;
	color: white;
}
#login{
	margin-left:5.7vw;
}
#cadastro{
	margin-left: 1vw;
}
section.info div.detalhes div.conta h2:hover{
	background-color: white;
	color: black;
}
section.info div.detalhes p{
	font-size: 30px;
	margin-bottom:3px;
	margin-top:3px;
}
section.info div.icone{
	text-align:center;
	border: solid 6px blue;
	border-radius: 30px;
	background-color: #808080;
}
section.info div.icone:hover{
	background-color: white;
}
section.info div.emalta{
	max-height:60vh;
	max-width: 30vw;
	min-width: 18vw;
	background-color: #8FBC8F;
	margin-left: 60vw;
	margin-top: 40vh;
}